<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YU Order</title>
    <style>

    </style>
    <script>
        /* JavaScript, 총 주문금액 계산 */
    </script>
</head>
<body>
    <h2>주문이 완료되었습니다.</h2>
    <hr>
    <table>
        <thead>
            <tr>
                <th>

                </th>
            </tr>
        </thead>
    </table>
</body>
</html>