<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            width: 300px;
            text-align: left; /* 입력 필드 왼쪽 정렬 */
        }

        input, select, button {
            width: 100%; /* 입력 필드 100% 폭으로 확장 */
            box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 너비 사용 */
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<form action="/join" method="post">
    아이디: <input type="text" name="ID"> <br>
    비밀번호: <input type="password" name="password"> <br>
    이름: <input type="text" name="name"> <br>
    닉네임: <input type="text" name="nickName"> <br>
    전화번호: <input type="text" name="phone"> <br>
    이메일: <input type="text" name="email"> <br>
    <label for="role-select">사용자 선택</label>
    <select name="role" id="role-select" required>
        <option value="customer">고객</option>
        <option value="rider">배달원</option>
        <option value="store">점주</option>
        <option value="admin">관리자</option>
    </select>
    <button type="submit">회원가입</button>
</form>
</body>
</html>
