<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Store Edit</title>
  <meta charset="utf-8">
</head>
<body>

<h2>Store Edit</h2>
<form action="/store/update" method="post">
<div>
  <input type="hidden" name="store_id" th:value="${store.id}" />
  <strong>Name:</strong> <input type="text" th:value="${store.store_name}" name="store_name" /><br>
  <strong>Address1:</strong> <input type="text" th:value="${store.address1}" name="address1" /><br>
  <strong>Address2:</strong> <input type="text" th:value="${store.address2}" name="address2" /><br>
  <strong>Address3:</strong> <input type="text" th:value="${store.address3}" name="address3" /><br>
  <strong>Category:</strong> <input type="text" th:value="${store.category}" name="category" /><br>
  <strong>Phone:</strong> <input type="tel" th:value="${store.phone}" name="phone" /><br>
  <strong>Open Time:</strong> <input type="time" th:value="${store.open_time}" name="open_time" /><br>
  <strong>Close Time:</strong> <input type="time" th:value="${store.close_time}" name="close_time" /><br>
  <strong>Deliver Time:</strong> <input type="text" th:value="${store.deliver_time}" name="deliver_time" /><br>
  <strong>Store Info:</strong> <textarea th:text="${store.store_info}" name="store_info"></textarea><br>
  <input type="hidden" name="sales" th:value="${store.sales}"/>
</div>
  <a href="/store/my">Cancel</a>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>
</html>
