<!-- main.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Store Main</title>
    <style>
        span {
            display: inline-block;
            width: 50px;
            margin-top: 15px;
            margin-left: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>매장 관리 시스템</h1>
    <form action="store/new" method="get">
        <button type="submit" class="navyBtn">매장 등록</button>
    </form>
    <button onclick="">매장 조회</button>
    <button onclick="">리뷰 관리</button>
    <button onclick="">매출 확인</button>
    <button onclick="">요청된 주문</button>
</body>
</html>