<!-- main.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Store Main</title>
    <style>
        span {
            display: inline-block;
            width: 50px;
            margin-top: 15px;
            margin-left: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>매장 관리 시스템</h1>
<form action="store/new" method="get">
    <button type="submit" class="navyBtn">매장 등록</button>
</form>
<button onclick="">매장 조회</button>
<button onclick="navigateToStoreReview()">리뷰 관리</button>
<button onclick="">매출 확인</button>
<button onclick="">요청된 주문</button>
<button onclick="getStoreInfo()">매장 정보</button>
<script>
    function navigateToStoreReview() {
        // 리뷰 관리 버튼 클릭 시 동작 정의 (원하는 기능 추가)
        console.log('리뷰 관리 페이지로 이동');
        // 여기에 store_id를 동적으로 가져와서 URL에 포함시켜주세요
        let storeId = 123; // 예시로 임의의 storeId를 설정함

        // storeId를 이용하여 해당 URL로 이동
        window.location.href = `/store/${storeId}/review`;
    }
</script>
</body>
</html>