<!-- main.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Store Main</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<h1 class="text-center my-4">매장 관리 시스템</h1>
<div th:if="${msg}" class="alert alert-warning alert-dismissible fade show text-center" role="alert">
    <span th:text="${msg}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="d-flex justify-content-center my-3">
    <a th:href="@{/store/new}" class="btn btn-primary mx-2">매장 등록</a>
    <button onclick="navigateToStoreReview()" class="btn btn-primary mx-2">리뷰 관리</button>
    <a href="javascript:void(0)" onclick="openSalesPopup()" class="btn btn-primary mx-2">매출 확인</a>
    <a th:href="@{/store/order}" class="btn btn-primary mx-2">요청된 주문</a>
    <a th:href="@{/store/my}" class="btn btn-primary mx-2">매장 정보</a>
</div>
<script>
    function navigateToStoreReview() {
        console.log('리뷰 관리 페이지로 이동');
        window.location.href = `/store/review`;
    }
    function openSalesPopup() {
        var popupWindow = window.open(
            '/store/sales', // 매출 정보를 보여줄 URL
            'SalesPopup', // 팝업 창의 이름
            'width=600,height=400,left=200,top=200' // 창 크기 및 위치
        );

        if (window.focus) {
            popupWindow.focus();
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>